*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

.container-fluid{
    background-color:#f6f5f7;
}

.container{
    width : 95%;
    margin:0 auto;
}
.event-container{
    width: 100%;
    padding:20px 0;
}

.each-event{
    width: 100%;
    display:flex;
    justify-content:space-between;
    background-color:#fff;
    padding:20px;
    margin: 20px 0;
    box-shadow: 0px 3px 10px #0000001A;
    
}

.each-event{
    animation: fadeInUp;
    animation-duration: 2s;
}

.each-event .event-img{
    width: 30%;
    position: relative;
}

figure{
    line-height:0px;
}

.each-event .event-img img{
    width:100%;
}

.event-date{
    position: absolute;
    bottom: 0;
    left: 50%;
    cursor: pointer;
    height: 100%;
    transform: translateX(-50%);
    width: 100%; 
    text-align: center;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    
}

.event-date i{
    font-size : 10px;
    padding-right:10px;
    color:lightgrey;
}

.event-date span{
    font-size: 16px;
}

.time{
    margin-top:160px;
    text-align:center;
    margin-bottom:3px;
}

.event-content{
    width: 68%;
    margin-top:10px;
}

.launch-time{
    display:flex;
}

.launch-time div{
    flex-basis: 80px;
}

h1{
    text-transform:uppercase;
    font-family: 'Arial', sans-serif; 
    text-align:justify-content;
    margin: 15px 0;
    color: #242124;
}

.event-content .launch-time p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.event-content .lauch-time span{
    color:#36454F;
}

.event-content .description{
    width:99%;
}

button{
    margin:15px 0;
    padding: 10px 30px;
    background:transparent;
    cursor: pointer;
    border: 1px solid #444;
    letter-spacing:1px;
    border-radius:5px;
}

button:hover{
    transition:.5s;
    background-color:lightgrey;
}

